set hlsearch
set incsearch
set ignorecase
set smartcase
set expandtab
set smarttab
set relativenumber
set clipboard+=unnamed
set number
set updatetime=1000
set backspace=eol,start,indent
set lazyredraw
set ttyfast
set whichwrap+=<,>,h,l
set nobackup
set nowritebackup
let mapleader = " "

" https://github.com/kabasakalis/dotfiles/blob/master/neovim/.ideavimrc#L72&L74
set notimeout
set ttimeout
set ttimeoutlen=10

" Idea vim config. This config only fits for
" Idea editors.
set multiple-cursors
set ideajoin
set ideaput
set surround
set highlightedyank
set idearefactormode=keep
set ideajoin
set showmode
set NERDTree

" -----------------------------------------------
" |               File Search                   |
" -----------------------------------------------
nnoremap <leader>ff :action FindInPath<CR>
nnoremap <leader>fg :action GotoFile<CR>
nnoremap <leader>fr :action RecentFiles<CR>

" -----------------------------------------------
" |             NerdTree and Windows            |
" -----------------------------------------------
nnoremap no :NERDTree<CR>
nnoremap ncl :NERDTreeClose<CR>
nnoremap tw :action HideAllWindows<CR>
" HideAllWindows action toggle recently opened windows

" -----------------------------------------------
" |                   File                      |
" -----------------------------------------------
nnoremap <leader>RF :action RenameFile<CR>
nnoremap <leader>OP :action OptimizeImports<CR>
nnoremap <leader>w  :w!<CR>
nnoremap <C-c> :action CommentByLineComment<CR>
vnoremap <C-c> :action CommentByLineComment<CR>

" -----------------------------------------------
" |               Refactoring                   |
" -----------------------------------------------
vnoremap em :action ExtractMethod <CR>
nnoremap em :action ExtractMethod <CR>
vnoremap es :action ExtractSuperclass <CR>
vnoremap ev :action IntroduceVariable <CR>
vnoremap ec :action IntroduceConstant <CR>
nnoremap <leader>mm :action GotoSuperMethod<CR>
nnoremap <leader>I :action Generate <CR>

" -----------------------------------------------
" |             Move Block of code              |
" -----------------------------------------------
nnoremap Z :action MoveLineUp <CR>
vnoremap Z :action MoveLineUp <CR>
nnoremap X :action MoveLineDown <CR>
vnoremap X :action MoveLineDown <CR>

" -----------------------------------------------
" |                 Run/Debug                   |
" -----------------------------------------------
nnoremap <leader>ru :action Run<CR>
vnoremap <leader>ru :action Run<CR>
nnoremap <leader>st :action Stop<CR>
vnoremap <leader>st :action Stop<CR>
nnoremap <leader>de :action Debug<CR>
vnoremap <leader>de :action Debug<CR>

" -----------------------------------------------
" |                 Other                       |
" -----------------------------------------------
nnoremap Q :noh<CR>

" -----------------------------------------------
" |               Search Action                 |
" -----------------------------------------------
nnoremap <C-p> gg<S-v>G " it doesn't work on macos try ⌘+⇧+A

" -----------------------------------------------
" |             Mode between tabs               |
" -----------------------------------------------
nnoremap <C-l> :action NextTab <CR>
nnoremap <C-h> :action PreviousTab <CR>
